{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      PlantTracker: Home
    </title>
   <link rel="stylesheet" href="{% static 'home/homestyles.css' %}" />
    </head>
    <body>
     <div class="screen">
    <!-- Header/Masthead of page -->
    <header class="masthead">
    <h2><a href="https://iseeger.eu.pythonanywhere.com/">iseeger - Informatics - Projects 2024</a></h2>
    </header>

    <main>
    <h1>Welcome to my Project Index Page</h1>

    <h2>Start here and go to any of the apps in this project:</h2>
    <ul>
     <li><a href="recipes">&#127829; Go to my recipes</a></li>
     <li><a href="blog"> &#128172; Go to my blog page</a></li>
     <li><a href="plants">&#127807; Go to my plants to-do tracker page (Hint: this is my final project!)</a></li>

    </ul>

    </main>
    </div>
    </body>

</html>
